.tile {
    color: whitesmoke;
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
}

.black__tile {
    background-color: darkgray;
}

.white__tile {
    background-color: whitesmoke;
}

.tile .chesspiece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}

/*
This makes the piece grabbable
*/
.tile .chesspiece:hover {
    cursor: grab;
}

.tile .chesspiece:active {
    cursor: grabbing;
}